body {
    background-color: darkkhaki;
}

article {
    width: 40%;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 30%;
}

h1 {
    width: 20%;
}

p {
    font-size: .8em;
    padding: .8em;
    width: 10%;  
}

h1, p {
    text-align: center;
}

img {
    width:100px;
    height:140px
}

